<!DOCTYPE html>
<html lang="=en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" conten="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car Seller</title>
        <!--CSS-->
        <link rel="stylesheet" href="/assets/css/style.css">
        <!-- Responsive -->
        <link rel="stylesheet" href="/assets/css/responsive.css">
        <!--Icons-->
        <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    </head>
    
    <body>
        <!--Navbar-->
        <header class="nav1">
            <div class="nav container">

                <i class="bx bx-menu" id="menu-icon"></i>

                <a href="#" class="logo">Car<span>Ville</span></a>

                <ul class="navbar">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#cars">Car Show</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#forms">Contact</a></li>
                    <li><a href="#blog">Our Blog</a></li>
                    
                    
                    
                    {{#if nome_cliente}}
					    <img src="/uploads/{{foto_perfil}}" class="user-pic" onclick="toggleMenu()">
                        <div class="sub-menu-wrap" id="subMenu">
                            <div class="sub-menu">
                                <div class="user-info">
                                    {{#if foto_perfil}}
                                    <img src="/uploads/{{foto_perfil}}">
                                    {{else}}
                                    <img src="/assets/images/logo.png">
                                    {{/if}}
                                    <p>{{nome_cliente}}</p>
                                </div>
                                <hr>
                                <a href="/profile" class="sub-menu-link">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXtJREFUSEu1letRAzEMhDedkEqASgiVAJVAJ4FKgEqAL+PNbGyPIwaiPzfOWdqHdMpGF47NheurCnAj6UEST+JV0lN7LjlWAd4lXXWVALk950AFgMIAEL7/1c5bSR8rkBmA7XhriVhDUIiCRCp6CQBy8jz0YCfpecKo97zvSabcJ0ivwNJhYc9XzQQIQhD4bIOAUnpzsC4BzD6tMDPAsIo7vLei3n9bd1QxA6AorFFBgWxyWnHCtCmBAIECSAw9ePxp4F0r6gnBAhJJgBnBb9jjUU0SkKPOIWZTZJl+5/ORVahKO+nfYO8KwApmALDfB0krOAuANM+9AShkO5BPEVtEn7CtZFFeciIkf9NkiHB/OUWzHUMSjWYAiGx4TtZyTHMFYMV1y6x8aNjGmsDekz70Tc4eJDMz9oeFIveh3yzLVcFlrDB7zvY1x9orxR8lT3IGtZV13Y8kxf60rnvJ2Zt8N9tZQ25FgW3Cc2/Yf//LnKkq/VZVUCo2u/QN4bhvGV+cfPUAAAAASUVORK5CYII="/>
                                    <p>Settings</p>
                                    <span></span>
                                </a>
                                <a href="#forms" class="sub-menu-link">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASFJREFUSEvtleERgjAMRj820UnUTXQSdRJ1Et1EnUR5dw0GWkpB+WfuuHJHkpd8bUOlma2aOb9KAGtJPKuwPur1JukZVt57LQdYSDqFpLkcADeSWCPrAxwk7YM3gRdXLWB78OHdfIhrWQrgkx9r7yjIZSD51hUT+XcBBNxDAtrO6utAQJCTTnY+rgu4Bs2HKk/JbZ0DWZqDB1gVfCs5XV2IPxRN9z6RVXAObU65IpajUcAD0JAu0BDIFDMV2Du6aEnB5tIm1tKxkJSM9x28Co5wjpWM/wO8ZIMS2SVL3ZGSffaA5pD4PWAkM7xYm2NWkjn4GKA1Lqbc2BSTolAgmgJjAH3H2I+IaAp8A+h2kvzx/AJgv1BGTGRjACP2++M6O+AN2oBFGYW5esQAAAAASUVORK5CYII="/>
                                    <p>Customer Support</p>
                                    <span></span>
                                </a>
                                <a href="/logout" class="sub-menu-link">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAL9JREFUSEvVld0NwjAMhL9uQjeBTegkwCSMApvAJpSrEhSQSuwqltq85CH2nX3+SUfw6YLxWQ3BHjgBumvnDlzetrrNGTyAXQ25eBf4wUPwSs4WSb9sLQ7C3ibBFRiSNE0zUDEFro6xSljW/28NBHorrJsSHFPkjm6cTH+DmM3gnIYpjEDA0l8S5aFqKlGOvCQJIciZqCaSbbuDNtvblS5Y5y7yrusn0HvWtSZc68PyJyz6cLzD97Ff0ucusnCCEbZMKBk6shPfAAAAAElFTkSuQmCC"/>
                                    <p>Logout</p>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        {{else}}
                        <li><a href="/login">Login</a></li>
				    {{/if}}
                </ul>
            </div>

        </header>

        <!-- Section Home -->

        <section class="home" id="home">
            <div class="home-text">
                {{#if nome_cliente}}
					<h2>Bem vindo meu caro {{nome_cliente}}</h2>
				{{/if}}

                <h1>Comfort, <span>Performance. </span><br> We have it all. </h1>
                <p>Project created for educational purposes.<br> By some students in ISTEC</p>
                <!--Home Button-->
                <a href="#" class="btn">Discover</a>
            </div>  

        </section>

        <!-- Section Cars -->

        <section class="cars" id="cars">
            <div class="heading">
                <span>All Cars</span>
                <h2>Have a look around</h2>
                <p>Might find something that catches your eye 👀</p>
            </div>

            <!-- Cars Containers -->

            <div class="cars-container container">
                <!-- Container 1 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/audi (1).png" alt="">
                    <span>Audi</span>
                    <h3>Common Family Car, Elegant Yet Sporty</h3>
                    </a>
                </div>
                <!-- Container 2 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/bentley (1).png" alt="">
                    <span>Bentley</span>
                    <h3>Car For Villains, Mostly For Comfort</h3>
                    </a>
                </div>
                <!-- Container 3 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/bmw (1).png" alt="">
                    <span>BMW</span>
                    <h3>Common Sporty Car, Elegant And Reliable</h3>
                    </a>
                </div>
                <!-- Container 4 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/camaro (1).png" alt="">
                    <span>Camaro</span>
                    <h3>The Muscle Of The West, Sporty & Elegant In His Way</h3>
                    </a>
                </div>
                <!-- Container 5 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/extcam01 (1).png" alt="">
                    <span>Porsche</span>
                    <h3>Name It, And It Has It, Sportivness, Comfort</h3>
                    </a>
                </div>
                <!-- Container 6 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/lambo (1).png" alt="">
                    <span>Lamborghini</span>
                    <h3>Pure Adrenaline & Fun, Spectacular Car</h3>
                    </a>
                </div>
                <!-- Container 7 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/jaguar (1).png" alt="">
                    <span>Jaguar</span>
                    <h3>Classy, Simple, Reliable & Most Importantly A Mans Car</h3>
                    </a>
                </div>
                <!-- Container 8 -->
                <div class="box">
                    <a href="#">
                    <img src="/assets/images/rolls (1).png" alt="">
                    <span>Rolls Royce</span>
                    <h3>Another Classical Villains Car, Very Classy</h3>
                    </a>
                </div>
            </div>
        </section>

        <!-- About Us -->

        <section class="about container" id="about">

            <div class="about-img">
                <img src="assets/images/about us.png" alt="">
            </div>
            <div class="about-text">
                <span>About Us</span>
                <h2>Currently Dominating <br>The Car Marker </h2>
                <p>Why are we the best? We hear our clients wishes and provide accordingly</p>
                
                <!-- About Button -->

                <a href="#" class="btn">Learn More</a>
            </div>
            
        </section>

        <!-- Forms Section -->
		<section id="forms" class="forms">
			<div class="container">
				<div class="forms-above-text">
                    <span>Contact Us</span>
					<h3 class="forms-h3">Have any adittional questions? Feel free to chat whit us via email</h3>
                </div>
					<div class="forms-area">
                    <form>
						<div class="form-group">
							<label for="subject">Subject:</label>
							<input type="text" id="subject" name="subject">
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" id="email" name="email">
						</div>
						<div class="form-group">
							<label for="message">Message:</label>
							<textarea id="message" name="message" rows="5"></textarea>
						</div>
					</form>
				</div>
			</div>
		</section>


        <!-- Blog Section -->

        <section class="blog" id="blog">

            <div class="heading">
                <span>Our Blog</span>
                <h2>Blog Content</h2>
                <p>Here you can find a bit more about us, and our newest articles</p>
            </div>

            <!-- Blog Container -->

            <div class="blog-container container">

                <!-- Box1 -->
                <div class="box">
                    <img src="/assets/images/about us.png" alt="">
                    <span>15th June 2024</span>
                    <h3>Newest & Most Interesting Cars In 2024</h3>
                    <a href="#" class="blog-btn">Read More<i class="bx bx-right-arrow-alt"></i></a>
                </div>

                <!-- Box2 -->
                <div class="box">
                    <img src="/assets/images/about us.png" alt="">
                    <span>15th June 2024</span>
                    <h3>Newest & Most Interesting Cars In 2024</h3>
                    <a href="#" class="blog-btn">Read More<i class="bx bx-right-arrow-alt"></i></a>
                </div>

                <!-- Box3 -->
                <div class="box">
                    <img src="/assets/images/about us.png" alt="">
                    <span>15th June 2024</span>
                    <h3>Newest & Most Interesting Cars In 2024</h3>
                    <a href="#" class="blog-btn">Read More<i class="bx bx-right-arrow-alt"></i></a>
                </div>

            </div>

        </section>

        <section class="footer">

            <div class="footer-container container">
                <div class="footer-box">
                    <a href="#" class="logo">Car<span>Point</span></a>
                    <div class="social">
                        <a href="#"><i class="bx bxl-facebook"></i></a>
                        <a href="#"><i class="bx bxl-instagram"></i></a>
                        <a href="#"><i class="bx bxl-twitter"></i></a>
                        <a href="#"><i class="bx bxl-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-box">
                    <h3>Page</h3>
                    <a href="#home">Home</a>
                    <a href="#cars">Car Show</a>
                    <a href="#forms">Contact</a>
                    <a href="#blog">Our Blog</a>
                </div>
                <div class="footer-box">
                    <h3>Legal</h3>
                    <a href="#">Privacy</a>
                    <a href="#">Refund Policy</a>
                    <a href="#">Cookie Policy</a>
                </div>
                <div class="footer-box">
                    <h3>Contact</h3>
                    <a href="#">USA Office</a>
                    <a href="#">GER Office</a>
                    <a href="#">JAP Office</a>
                </div>
            </div>
            
        </section>

        <script>
        // Navbar Scroll Script
        const nav1 = document.querySelector(".nav1")

        let lastScrollTop = 0;

        window.addEventListener(
            "scroll",
            () => {
                console.log("scroll")
                var { scrollY } = window;
                if ( scrollY > lastScrollTop ){
                    // scroll down
                    nav1.classList.remove("visible");
                } else if (scrollY < lastScrollTop ){
                    // scroll up
                    nav1.classList.add("visible");
                }
                lastScrollTop = 
                scrollY <= 0 ? 0 : scrollY;
            },
            { passive: true }
        );

        // DropdownMenu Script
        let subMenu = document.getElementById("subMenu");
        
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        };
        </script>
    </body>

</html>